.submit-button--styles {
  letter-spacing: 0.1rem;
  width: 100%;
  background: none;
  background-color: #fc7613;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5rem;
  padding: 0.75rem;
  transition: 0.5s;
}

.submit-button--styles:hover {
  background-color: #ffffff;
  color: #fc7613;
}

.link {
  width: 100%;
}
