* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.div__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.div__container--styles {
  border: thick solid red;
  background-color: hsl(216, 12%, 8%);
}

.card {
  text-align: center;
  height: 50%;
  width: calc(100% / 3);
}

.card--styles {
  border: thick solid blue;
  background-color: hsl(213, 19%, 18%);
}
