* {
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
label {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}

h1 {
  color: hsl(0, 0%, 100%);
}

.div__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.div__container--styles {
  background-color: hsl(216, 12%, 8%);
}

.card {
  text-align: left;
  height: 60%;
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 1rem; come back to this */
}

.card--styles {
  background-color: hsl(213, 19%, 18%);
  padding: 5%;
  border-radius: 7.5%;
}

.card-text--styles {
  margin: 0px;
}

.radio__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.submit-button--styles {
  width: 100%;
}

input[type='radio'] {
  display: none;
}

.circle--styles,
input[type='radio'] + label {
  background-color: rgb(34, 34, 34);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  /* shape-outside: circle();
  clip-path: circle(); */
}

input[type='radio']:checked + label {
  background-color: orange;
  color: white;
}
