* {
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
label,
button {
  color: #969da7;
  font-size: 15px;
}

h1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.div__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #141519;
}

.paragraph__ratings--padding {
  margin-top: 0.5rem;
}
