.card {
  height: 55%;
  width: calc(100% / 3.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(circle at top, #232a32, #171e28);
  padding: 2rem;
  border-radius: 2rem;
}

.card__ratings {
  text-align: left;
  align-items: flex-start;
}

.card__thank-you {
  text-align: center;
  align-items: center;
}
